{% extends "./base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Search entry"  %}{% endblock %}

{% block content %}
<section class="search">
  <form method="post" action="{% url 'browser:index'  %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      <input id="term" name="term" type="text" class="form-control" placeholder="{% translate 'term' %}"
	     aria-label="{% translate 'term' %}" aria-describedby="btn-search" value="{{search_term}}">
      <button class="btn btn-outline-secondary" type="submit" id="btn-search">
	<i class="bi bi-search"></i>
	{% translate 'search' %}
      </button>
    </div>
  </form>
</section>
{% if search_term  %}
<section class="search-results">
  {% for result in search_results %}
  <article>
    {{ result.text_html | safe}}
  </article>
  {% empty %}
  <div class="no-results">
    <p>{% translate "No results found for" %}&nbsp;<strong>{{search_term}}</strong>.</p>
  </div>
  {% endfor %}
</section>
{% endif %}
{% endblock %}
