.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-error{
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

.dropdown-menu{
    z-index: 1024;
}

.edtlr-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto 35px;
}

.edtlr-banner a
{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.edtlr-banner a object
{
    pointer-events: none;
}

.no-results, .search-results
{
    margin: 1em 0 2em;
    border-top: var(--bs-border-width) solid var(--bs-border-color);
    padding: 0.5em 0;
}

.no-results
{
    font-size: larger;
}

.search-results
{
    font-size: 1.12em;
}

.search-results article
{
    margin: 1em 0 1em;
}

.search-results article p
{
    margin: 0px;
    line-height: 1.6;
}

#footer{
    text-align: center;
    font-size: smaller;
    color: dimgray;
}
